body {
    padding: 40px;
    background: #ffae42 ;
    background-image: url("OXODark.png");
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Comic Neue', cursive;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Lakki Reddy', cursive;
    /* text-shadow: 1px 2px 1px #d28d33; */
    filter: drop-shadow(2px 5px 2px #d28d33);
}

.red {
  color: red;
  background-image: linear-gradient(to bottom right, red, darkred);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.green {
  color: lime;
  background-image: linear-gradient(to bottom right, lime, darkgreen);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

label {
    color: black;
}

button {
    box-shadow: 2px 5px 2px #d28d33;
}

button:active {
    box-shadow: 1px 2px 1px #aa7128;
}

#container {
    margin:auto;
    justify-self: center;
    background: lightgoldenrodyellow;
    background-image: url("OXOMid.png");
    max-width: 80%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions, #mobile-instructions {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding: 10px;
    background-color: #fdfd96;
    background: none;
    border: solid #ffae42 3px;
    border-radius: 15px;
}

#mobile-instructions-button {
    margin: 10px;
    height: 30px;
    width: 90px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
    background-color: orange;
    background-image: linear-gradient(to bottom right, orange, #a03f00);
}

#mobile-instructions-button:hover {
    color: orange;
    background-color: white;
    background-image: none;
    cursor: pointer;
}

#mobile-instructions-button:active {
    color: orange;
    background-color: black;
    background-image: none;
    cursor: pointer;
    border-color: orange;
}

#game-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#options, #end-options {
    background-color: #fdfd96;
    background: none;
    border: solid #ffae42 4px;
    border-radius: 15px;
    padding: 10px;
}

#options p {
    margin-top: 0px;
}

#difficulty-option {
    margin-top: 10px;
}

#start-game, #retry, #retry-mini {
    margin: 10px;
    height: 30px;
    width: 90px;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: bold;
}

#start-game {
    background-color: lime;
    background-image: linear-gradient(to bottom right, lime, darkgreen);
}

#start-game:hover {
    color: lime;
    background-color: white;
    background-image: none;
    cursor: pointer;
}

#start-game:active {
    color: lime;
    background-color: black;
    background-image: none;
    cursor: pointer;
    border-color: lime;
}

#retry, #retry-mini {
    background-color: red;
    background-image: linear-gradient(to bottom right, red, darkred);
    width: 120px;
}

#retry:hover, #retry-mini:hover {
    color: red;
    background-color: white;
    background-image: none;
    cursor: pointer;
}

#retry:active, #retry-mini:active {
    color: red;
    background-color: black;
    background-image: none;
    cursor: pointer;
    border-color: red;
}

#start-game:disabled, #retry:disabled {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
}

#game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
    width: 300px;
    margin: auto;
    background-color: black;
}

.square {
    margin: 5px;
    background-color: white;
    background-image: url("blank.png");
    background-position: center;
    background-size: cover;
}

#retry, #retry-mini {
    height: 30px;
}

#retry-mini {
    margin-top: 10px;
    width: 30px;
    border-radius: 5px;
}

#messages {
    margin: 30px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfd96;
    background: none;
    border: solid #ffae42 5px;
    border-radius: 15px;
}

#message {
    font-size: 20px;
    font-weight: bold;
}

#p1-score, #p2-score {
    font-family: 'Lakki Reddy', cursive;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

#mouse, #cat {
    background-color: white;
    margin: 30px;
    margin-top: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 2px 5px 2px #d28d33;
}

#mouse {
    background-color: lightgreen;
}

#cat {
    background-color: lightsalmon;
}

#mouse img, #cat img {
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}

@media screen and (min-width: 600px){
    #mobile-instructions {
        display: none;
    }
    #mobile-instructions-button {
        display: none;
    }
    #retry-mini {
        margin-top: 20px;
    }
    #info-container {
        min-width: 250px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
    }
    #instructions, #mobile-instructions {
        font-size: 14px;
    }
    #mobile-instructions {
        display: none;
    }
    #game-board {
        grid-template-columns: 90px 90px 90px;
        grid-auto-rows: 90px;
        width: 270px;
    }
    #messages {
        flex-wrap: wrap;
    }
    #message {
        font-size: 18px;
        order: 1;
        width: 100%;
        margin-bottom: 10px;
    }
    #mouse, #cat{
        height: 80px;
        width: 80px;
        order: 2;
    }
    #mouse img, #cat img {
        max-height: 100px;
        max-width: 100px;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
    #instructions, #mobile-instructions {
        font-size: 12px;
    }
    #instructions {
        display: none;
    }
    #game-board {
        grid-template-columns: 80px 80px 80px;
        grid-auto-rows: 80px;
        width: 240px;
    }
    #message {
        font-size: 16px;
        padding: 10px;
        padding-bottom: 0px;
    }
    #mouse, #cat{
        height: 60px;
        width: 60px;
    }
    #mouse img, #cat img {
        max-height: 80px;
        max-width: 80px;
    }
  }