body {
    padding: 40px;
    background: #ffae42 ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Lakki Reddy', cursive;
}

.red {
  color: red;
}

.green {
  color: lime;
}

label {
    color: black;
}

#container {
    margin:auto;
    justify-self: center;
    background: lightgoldenrodyellow;
    max-width: 80%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions, #mobile-instructions {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fdfd96;
}

#mobile-instructions-button {
    margin: 10px;
    height: 30px;
    width: 90px;
    border: 3px solid black;
    font-weight: bold;
    background-color: orange;
}

#mobile-instructions-button:hover {
    color: orange;
    background-color: white;
    cursor: pointer;
}

#game-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#options, #end-options {
    background-color: #fdfd96;
    padding: 10px;
}

#start-game, #retry {
    margin: 10px;
    height: 30px;
    width: 90px;
    border: 3px solid black;
    font-weight: bold;
}

#start-game {
    background-color: lime;
}

#start-game:hover {
    color: lime;
    background-color: white;
    cursor: pointer;
}

#retry {
    background-color: red;
    width: 120px;
}

#retry:hover {
    color: red;
    background-color: white;
    cursor: pointer;
}

#start-game:disabled, #retry:disabled {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
}

#game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
    width: 300px;
    margin: auto;
    background-color: black;
}

.square {
    margin: 5px;
    background-color: white;
    background-image: url("blank.png");
    background-position: center;
    background-size: cover;
}

#retry {
    height: 30px;
}

#messages {
    margin: 30px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfd96;
}

#message {
    font-size: 20px;
    font-weight: bold;
}

#mouse, #cat {
    background-color: white;
    margin: 30px;
    padding: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
}

#mouse {
    background-color: lightgreen;
}

#cat {
    background-color: lightsalmon;
}

#mouse img, #cat img {
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}

@media screen and (min-width: 600px){
    #mobile-instructions {
        display: none;
    }
    #mobile-instructions-button {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
    }
    #instructions, #mobile-instructions {
        font-size: 14px;
    }
    #mobile-instructions {
        display: none;
    }
    #game-board {
        grid-template-columns: 90px 90px 90px;
        grid-auto-rows: 90px;
        width: 270px;
    }
    #messages {
        flex-wrap: wrap;
    }
    #message {
        font-size: 18px;
        order: 1;
        width: 100%;
    }
    #mouse, #cat{
        height: 80px;
        width: 80px;
        order: 2;
    }
    #mouse img, #cat img {
        max-height: 100px;
        max-width: 100px;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
    #instructions, #mobile-instructions {
        font-size: 12px;
    }
    #instructions {
        display: none;
    }
    #game-board {
        grid-template-columns: 80px 80px 80px;
        grid-auto-rows: 80px;
        width: 240px;
    }
    #message {
        font-size: 16px;
        padding: 10px;
        padding-bottom: 0px;
    }
    #mouse, #cat{
        height: 60px;
        width: 60px;
    }
    #mouse img, #cat img {
        max-height: 80px;
        max-width: 80px;
    }
  }