body {
    padding: 40px;
    background: #ffae42 ;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.red {
  color: red;
}

.green {
  color: lime;
}

label {
    color: white;
    align-self: center;
}

#container {
    margin:auto;
    justify-self: center;
    background: white;
    max-width: 80%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

#inputs {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
    height: 30px;
}

.inp-div {
    display: flex;
    flex-direction: row;
}

.inp {
    margin-left: 10px;
    width: 50px;
}

#start {
    margin: 0px;
    background-color: red;
    color: white;
    width: 100px;
}

#start:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

#output {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

#fizz-buzz {
    font-weight: bold;
}

#bee {
    margin: 0px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    padding: 25px;
    align-self: center;
}

#bee:hover {
    animation: shake 0.5s;

    animation-iteration-count: infinite;
}

.bee-shake {
    animation: shake 0.5s;

    animation-iteration-count: 3;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#instructions {
    margin-bottom: 0;
}

#game-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#game-board {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 150px;
    width: 450px;
    margin: auto;
    margin-right: 50px;
    background-color: black;
}

.square {
    margin: 5px;
    background-color: white;
    background-image: url("blank.png");
    background-position: center;
    background-size: cover;
}

#retry {
    height: 30px;
}

#messages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#mouse, #cat {
    background-color: white;
    padding: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
}

#mouse {
    background-color: lightgreen;
}

#cat {
    background-color: lightsalmon;
}

#mouse img, #cat img {
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
}